<mat-toolbar class="main-page-header"
		style="
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position:fixed;"
		>

	<button type="button" mat-icon-button (click)="drawer.toggle()">

		<mat-icon>menu</mat-icon>

	</button>
	<div style = "font-size: larger;"><strong>ETHOS</strong></div>
	
<div class="spacer" ></div>

	</mat-toolbar>
	<div *ngIf = "!loading">
	<mat-drawer-container autosize  [style.height]="(innerHeight)+'px'">
<div *ngIf = "displayData.length > 0">
			<mat-grid-list [cols]="mobileQuery.matches?'1':'3'" rowHeight="315px" style = " margin-top: 50px;">
					
			<mat-grid-tile *ngFor = "let item of displayData">
					<mat-card class="example-card">
							<mat-card-header>
								<img src = "{{item.logo}}" mat-card-avatar class="example-header-image"/>
								<mat-card-title>{{item.name}}</mat-card-title>
								<mat-card-subtitle>{{item.country}}</mat-card-subtitle>
							</mat-card-header>
							
							<mat-card-content>
								<div  matTooltip="{{item.vision}}" class = "vision"><p>
									{{ (item.vision.length>70)? (item.vision | slice:0:70)+'...':(item.vision) }}
									
								</p></div>

								<p>
									<strong>Sector : </strong>	{{item.sector}}
								</p>
								<p>
									<strong>Region :	</strong> {{item.roo}}
								</p>
								<p>
									<strong>Type : </strong> {{item.type}}
								</p>
								
								<p>
									<strong>Website : </strong> <a href="{{item.website}}" target="_blank" matTooltip="{{item.website}}">{{ (item.website.length>30)? (item.website | slice:0:30)+'...':(item.website) }}</a>
								</p>

							</mat-card-content>
						</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
	<div *ngIf = "displayData.length == 0" style = "     margin-top: 20%;
	/* margin-right: 15%; */
	margin-left: 40%;
	color: gray;
	font-size: x-large;">
		No Data found
	</div>

   <mat-drawer opened="true" #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" class="shadow" [ngStyle]="{'width': '260px','margin-top':'50px'}">
	<div class="nav-list">

			<h2 class="example-h2">Filters</h2>
			<mat-divider></mat-divider>
			<mat-list role="list">
					<mat-list-item role="listitem"><strong>Country</strong></mat-list-item>
				</mat-list>



			<mat-selection-list >
  			<mat-list-option *ngFor="let shoe of country"  (click)="onCountryChange(shoe,$event)">
    		{{shoe}}
  			</mat-list-option>
			</mat-selection-list>

			<mat-divider></mat-divider>

			<mat-list role="list">
					<mat-list-item role="listitem"><strong>Sector</strong></mat-list-item>
				</mat-list>
				<mat-selection-list >
						<mat-list-option *ngFor="let shoe of sector"  (click)="onSectorChange(shoe,$event)">
						{{shoe}}
						</mat-list-option>
					</mat-selection-list>
			
					<mat-divider></mat-divider>

					<mat-list role="list">
							<mat-list-item role="listitem"><strong>Organisation Type</strong></mat-list-item>
						</mat-list>
			<mat-selection-list >
					<mat-list-option *ngFor="let shoe of type"  (click)="onTypeChange(shoe,$event)">
					{{shoe}}
					</mat-list-option>
				</mat-selection-list>

				<mat-divider></mat-divider>
				
				<mat-list role="list">
						<mat-list-item role="listitem"><strong>Region</strong></mat-list-item>
					</mat-list>
			<mat-selection-list >
					<mat-list-option *ngFor="let shoe of roo"  (click)="onRooChange(shoe,$event)">
					{{shoe}}
					</mat-list-option>
				</mat-selection-list>


    


</div>
	</mat-drawer>


</mat-drawer-container>


</div>
<div *ngIf = "loading">
	<mat-drawer-container style = "margin-top: 50px;" [style.height]="(innerHeight)+'px'">
		<div style = "    margin-top: 10%;
    margin-left: 40%;">	<mat-spinner></mat-spinner></div>
	</mat-drawer-container>

</div>